# Global Temperature Analysis
Abinash Patti

### Objective
Analyze global temperature data to identify global warming trends, regional anomolies, and seasonal patterns

### Dataset
Source: Berkeley Earth / Kaggle

Files include temperature readings by city, country, and globally from 1750-2015

In [2]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Load GlobalLandTemperaturesByCountry into a DataFrame
df_global_land_temps_country = pd.read_csv("../data/GlobalLandTemperaturesByCountry.csv")

# Display the info and first few rows
df_global_land_temps_country.info()
df_global_land_temps_country.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             577462 non-null  object
 1   AverageTemperature             544811 non-null  float64
 2   AverageTemperatureUncertainty  545550 non-null  float64
 3   Country                        577462 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland